{% extends 'events/base.html' %}

{% block title %}Event Detail{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>{{ event.title }}</h1>
    <div class="card mx-auto" style="max-width: 600px;">
        <!-- Set image height and crop from the bottom, keep top visible -->
        <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}" style="height: 500px; object-fit: cover; object-position: top;">
        <div class="card-body">
            <p class="card-text"><strong>Description:</strong> {{ event.description }}</p>
            <p class="card-text"><strong>Date:</strong> {{ event.date|date:"F j, Y, g:i a" }}</p>
            <p class="card-text"><strong>Location:</strong> {{ event.location }}</p>
            <p class="card-text"><strong>Price:</strong> Ksh {{ event.price }}</p>
            <p class="card-text"><strong>Additional Details:</strong> {{ event.details }}</p>
        </div>
    </div>
    <a href="{% url 'register_for_event' pk=event.pk %}" class="btn btn-primary mt-3">Register</a>
    <a href="{% url 'event_list' %}" class="btn btn-primary mt-3">Home</a>
</div>
{% endblock %}
